

<section class="hero is-primary">
    <div class="hero-body" style="display:flex; align-items:center; justify-content: center; ">
        <div style=" margin-right: 130px;">
            <p class="title">
                Stay curious.
            </p>
            <p class="subtitle">
                Discover stories, thinking, and expertise from writers on any topic.
            </p>
        </div>
        <div style="width: 350px; ">
            <img src="media/hero-animation.gif" alt="hero image" >
        </div>
    </div>
</section>



