{% extends 'base.html' %}

{% block contenido %}
    <div class="container" style="display:flex; justify-content: space-around; align-items: center;">
        <div style="display:flex; width: 550px; margin-top: 50px;">
            <img src="../../media/about-candy-code.gif" alt="hero image">
        </div>
        <div style="margin-left: 50px;">
            <h1 class="title" style="margin-top: 50px;">About this project</h1>
            <p class="subtitle" ">This project is a blog where you can write and edit posts about technology and software development.</p>
            <div style="display:flex; justify-content: space-between;">
                <div style="margin-left: 50px;">
                    <p style="margin-bottom: 20px;">Things you can do:</p>
                    <ul>
                        <li>🔸Register User</li>
                        <li>🔸Login User</li>
                        <li>🔸Logout User</li>
                        <li>🔸Edit User</li>
                        <li>🔸Write posts</li>
                        <li>🔸Upload a picture for every Post</li>
                        <li>🔸Edit posts</li>
                        <li>🔸Delete posts</li>
                        <li>🔸Search posts by any topic</li>
                    </ul>
                </div>
                <div style="margin-right: 150px;">
                    <p style="margin-bottom: 20px;">Technologies used:</p>
                    <ul>
                        <li>🔸Python 3.10.6</li>
                        <li>🔸Django 4.1.2</li>
                        <li>🔸HTML 5</li>
                        <li>🔸CSS 3</li>
                        <li>🔸Javascript</li>
                        <li>🔸Bulma</li>
                        <li>🔸SQLite</li>
                    </ul>
                </div>
            </div>

            <div style="margin-top: 50px;">
                <a href="https://github.com/Lauriacunia/entrega1-acunia" target="_blank"><span class="icon mdi mdi-github"></span> View on Github</a>
            </div>
            
        </div>
    </div>

{% endblock %}