<footer class="footer" style="margin-top:100px;padding: 0px;">
    <div class="content has-text-centered">
        <p>
            <strong>Candy Code</strong> by <a href="https://www.linkedin.com/in/lauriacunia/">Laurita Acuña</a>. 
        </p> 
       
        <div style="display: flex; justify-content: center;">
            <a style="margin: 20px;font-size:45px; " href="https://www.linkedin.com/in/lauriacunia/" target="_blank" ><span class="icon mdi mdi-linkedin"></span></a>
            <a style="margin: 20px;font-size:45px; " href="https://github.com/Lauriacunia" target="_blank" ><span
                    class="icon mdi mdi-github"></span></a>
        </div>
    </div>
   
</footer>